.skill{
   min-height: auto;
    min-width: 90%;
    /* border: 1px solid red; */
    /* margin: 3rem 0; */
}
.myskill{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    font-weight: 400;
    
}
.box{

    margin-top: 5rem;
    /* width: 50%; */
}
.skillset{
    height: auto;
    background: rgb(50, 50, 50);
    padding: 0.75rem 1rem;
    margin: 1rem 0.50rem;
    width: auto;
    border-radius: 0.20rem;
}
.skillsets{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin: 3rem 0; */
   

}
.reacticon{
    font-size: 1.50rem;
    margin-right: 0.50rem;
    /* color: lightblue; */
}


@media screen and (max-width:420px) {
    .skillset{
        
        
    }
    .reacticon{
        
    }
    
}

@media screen and (max-width:800px) {
    .skillset{
        height: auto;
        font-size: 0.5rem;
        padding: 0.25rem 0.50rem;
        text-align: center;
        box-sizing: border-box;

    }
    .reacticon{
        font-size: 1rem;
        margin-right: 0.25rem;
        display: block;
    }
    
}