.skill{
    height: auto;
    width: 100vw;
    /* border: 1px solid red; */
}
.myskill{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    font-weight: 400;
    
}

.box{
    height: 7rem;
    width: 10rem;
    /* border: 1px solid red; */
    margin: 2rem 5rem;
}

.icon{
    height: 4rem;
    width: auto;
    margin:0 2rem;
}
