.about{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
  

    
   
}
.imgcol{
    /* border: 1px solid yellow; */
    width: 100%;
    padding: 3rem;
    overflow-x: hidden;
  }
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    font-weight: 400;
}

.headpara{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    
     
}
.aboutintro{
    /* border: 1px solid red; */
    margin: 3rem 3rem;
    padding: 0 3rem;
}


.aboutskill{
    margin: 3rem 1rem;
    padding: 0 1rem;
    /* border: 1px solid red; */
    
}
.image{
    /* object-fit: cover; */
    height: 22rem;
    width: 18rem;
    object-fit: contain;
    
    border-radius: 20%; 
    /* border: 0px solid transparent; */
    /* animation:pulseRotate 5s infinite linear;  */
   
}
.aboutpara{
    font-weight: 200;
}
/* @keyframes pulseRotate {
    0% {
        box-shadow: 0 0 10px rgba(211, 218, 19, 0.8), 0 0 20px #a1d30d99, 0 0 30px rgba(228, 206, 7, 0.721);
    }
    50% {
        box-shadow: 0 0 15px rgb(205, 218, 28), 0 0 30px rgba(131, 197, 25, 0.9), 0 0 45px rgba(111, 199, 11, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(155, 241, 17, 0.8), 0 0 20px rgba(170, 206, 12, 0.6), 0 0 30px rgba(185, 164, 6, 0.5);
    }
} */
.education{
    list-style: none;
}
.collegepg{
    font-size: small;
    font-weight: 200;
    color: rgb(173, 155, 155);
    margin: 0 1.25rem;
}
.listitem{
    font-size: large;
    font-weight: 500;
}
.educationhead{
    font-size: medium;
    /* color: white; */
}

.resumeBtn{
    margin:0 2rem;
    border: 1px solid white;
    padding: 0.30rem 1rem;
    border-radius: 5px;
    font-weight: 300;
    font-size: medium;
    background: none;
    color: white;
    transition: transform 0.5s ease-out;
    text-decoration: none;
    cursor: pointer;
    

}
.down{
    margin-right: 0.25rem;
    font-size: 1.25rem;
}

.resumeBtn:hover{
    transform: scale(1.1);
}

@media screen and (max-width:420px){
    .aboutintro{
        margin: 3rem 0;
        padding: 0 1rem;
    }
    .headpara{
        font-size: 0.80rem;
        padding: 0.75rem;
    }

   
    .image{
        height: 15rem;
        width: 12rem;
        object-fit: contain;
        border-radius: 20%; 
        margin: 0 2.5rem;
    }
    .listitem{
        font-size: small;
    }
    .collegepg{
        font-size: 0.70rem;
    }
    .aboutskill{
        /* border: 1px solid red; */
        margin-left: 0;
        padding-left: 0;
        width: 20rem;
    }
} 