.intro{
    height: calc(90vh-5rem);
    /* height: 100vh; */
    width: 95vw;
    margin: 0 auto;
    max-width: 75rem;
    overflow: hidden;
    position:relative;
}

.myImg{
    position: absolute;
    top: 5rem;
    z-index: -1;
    right: 0;
    object-fit: cover;
    height: 60vh;
}
.introContent{
    height: 90vh;
    width: 100vw;
    margin: 2rem 2rem;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 2rem;
    font-weight: 200;
}
.introName{
    color: yellow
}
.introPara{
    font-size: small;
    font-weight: 200;
    letter-spacing: 2px;
}

 .social{
    display: flex;
    gap: 1rem;
    
 }
 .link{
    text-decoration: none;
    color:inherit;
    font-size: 1.5rem;
 }


#app{
    text-align:center;
    font-size:50px;
    
    background-color: white;
    background-clip:border-box;
     text-fill-color: transparent;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }
  

  




  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

@media screen and (max-width:800px) {
    .myImg{
        /* background-image: none; */
        display: none;
    }
    .introContent{
        font-size: 10vw;
    }
    
    
}

@media screen and (max-width:460px) {
    .myImg{
    
       display: none;
    }
    .introContent{
        /* font-size: 5vw; */
        margin: 1rem 5rem 3rem 1rem;
        padding: 0;
    }
    #app{
        font-size: 2rem;
    }
    .hello{
        font-size: 10vw;
    }
    .introPara{
        font-size: 0.60rem;
    }
    
    
}